$icon-font-path: '../fonts';

@import "variables";
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap-sprockets";
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.page-head {
  width: 100%;
}

.page-title-bar {
  padding: 10px 0 10px 0;
}

.navbar {
  margin: 0 0 0 0;
}

nav .nav-pills {
  padding: 10px 50px 10px 50px;

  li {
    a { color: $gray-lighter; }
    a.disabled { color: $gray-dark; }
    ul.dropdown-menu li a:hover { color: $gray-darker; }
  }

  li.active a { color: #fff; }

  .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
  }

  .disabled {
    pointer-events: none;
    cursor: default;
  }
}

.page-content {
  background-color: $content-bg;
}

.page-foot {
  min-height: 80px;
  text-align: center;
  padding: 20px 0;
  background-color: $body-bg;
}

/**********
 * Warsow utility classes
 **********/

.medal-gold { color: #ff0; }
.medal-silver { color: #ddd; }
.medal-bronze { color: #fa3; }
